#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1em;
}

/* .card:has(+ .card) {
  padding-bottom: 0;
  padding-top: 0;
} */

.card + .card {
  padding-top: 0.5em;
  outline: 3px solid #780c0c;
  border-radius: 8px;
}

@media (prefers-color-scheme: light) {
  .card + .card {
    outline-color: #bcbdde;
  }
}
